$logoTextColor: #0273B9;
$searchButtonColor: #0269A0;
$subTextColor: #65759A;
$borderColor: #E3E8F1;
$whiteColor: #FFF;
$placeholderTextColor: #68758B;
$mainTextColor: #0E172B;
$mainTextHoverColor: #272E3F;
$sideMenuColor: #F1F5F9;